
<script src="./registrar.ts"></script>
<!--<script src="angular.min.js"></script> 
<script src="ng-tags-input.min.js"></script> 
<link rel="stylesheet" type="text/css" href="ng-tags-input.min.css">-->

<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Registrar</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="registrar">
	
  <ion-list no-lines>
  <!--
 <tags-input ng-model="registro.tags2"></tags-input>
name="tags"
name="descripcion"
 name="codigo"
 -->
     <ion-item>
      <ion-label>Leer QR</ion-label>
      <ion-toggle [(ngModel)]="qr" value="foo" checked="false" (ionChange)="activarQR()"></ion-toggle>
    </ion-item>

    <ion-item>
         <ion-label stacked>1.Tags</ion-label>
        <ion-input  #ntag [(ngModel)]="tag" type="text" placeholder="Añadir etiqueta"></ion-input>
    </ion-item>

    <ion-item>
      <button block (click)="addTag(ntag)">Añadir</button>
    </ion-item>

   <ion-item>
    <span class="tag" *ngFor="let tag of tags">
      {{ tag }}
      <ion-icon name="close" (click)="deleteTag(tag)"></ion-icon>
    </span>
  </ion-item>

      <ion-item>
        <ion-label stacked>2.Descripción oculta</ion-label>
        <ion-textarea [(ngModel)]="descripcion" rows="4" placeholder="Ingrese la descripción detallada aquí."></ion-textarea>
      </ion-item>
    </ion-list>

    <button ion-button block (click)="confirmar()" secondary>Confirmar</button>


</ion-content>

