<ion-header>
  <ion-navbar>
  	 <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Datos de registro</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<ion-list no-lines>
	  <!--<ion-item>
	    <ion-label>Fecha:</ion-label>
	    <ion-input [(ngModel)]="fecha" type="text" disabled></ion-input>
	  </ion-item>-->

		<ion-item>
			<ion-label>Fecha de pérdida</ion-label>
			<ion-datetime  displayFormat="D/MMM/YYYY" pickerFormat="MMM-YYYY" [(ngModel)]="fecha" disabled></ion-datetime>
		</ion-item>

		<ion-item>
				<ion-label>Código de búsqueda</ion-label>
				<ion-input [(ngModel)]="codigoBusqueda" type="search" disabled></ion-input>
		</ion-item>


		<ion-item>
		  <ion-label>Tags:</ion-label>
		</ion-item>

	  <ion-item>
		<div class="tag-container">
			<span class="tag" *ngFor="let tag of tags">
		  	{{ tag }}
			 </span>
		</div>
	  </ion-item>

		 <ion-item>
	        <ion-label stacked>Descripción oculta:</ion-label>
	    	  <ion-textarea id="descripcion" [(ngModel)]="descripcion" rows="5" disabled></ion-textarea>
		</ion-item>

	
		<ion-item>
				<ion-label>Punto de recolección</ion-label>
				<ion-input [(ngModel)]="punto" disabled></ion-input>
		</ion-item>
	</ion-list>

		<button *ngIf="punto == nombrePunto" (click)="retirar()" secondary block>Retirar</button>


</ion-content>
