<ion-header>
  <ion-navbar>
  	 <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Datos del registro</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<ion-list no-lines>
		<ion-item>
			<ion-label>Fecha de registro</ion-label>
			<ion-datetime  displayFormat="DD/MMM/YYYY" pickerFormat="DD-MMM-YYYY" [(ngModel)]="fechaRegistro" disabled></ion-datetime>
		</ion-item>

	
		<ion-item>
				<ion-label stacked>Punto de recolección:</ion-label>
				<ion-label>{{puntoRecoleccion}}</ion-label>
		</ion-item>
		
		<ion-item>
				<ion-label stacked>Consecutivo:</ion-label>
				<ion-label>{{codigoBusqueda}}</ion-label>
		</ion-item>


		<ion-item>
		  <ion-label stacked>Tags:</ion-label>
		</ion-item>

	  <ion-item>
			<div class="tag-container">
				<span class="tag" *ngFor="let tag of tags">
					{{ tag }}
				</span>
			</div>
	  </ion-item>

		 <ion-item>
	        <ion-label stacked>Descripción privada:</ion-label>
	    	  <ion-textarea  [(ngModel)]="descripcion" rows="5" disabled></ion-textarea>
		</ion-item>


	</ion-list>

		<button *ngIf="actual" (click)="retirar()" secondary block>Retirar</button>


</ion-content>
