<ion-header>
  <ion-navbar>
  	 <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Retirar objetos</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  
  <div padding>
        <ion-segment [(ngModel)]="tipoBusqueda">
          <ion-segment-button value='fecha'>
            Fecha
          </ion-segment-button>
          <ion-segment-button value='consecutivo'>
            Consecutivo
          </ion-segment-button>
          <ion-segment-button value="qr" (ionSelect)="activarQR()">
            Leer QR
          </ion-segment-button>
        </ion-segment>
      </div>

<div [ngSwitch]="tipoBusqueda">
 
  <ion-list *ngSwitchCase="'fecha'" no-lines> 
       <ion-item>
        <ion-label>Fecha de pérdida</ion-label>
        <ion-datetime  displayFormat="MMM/YYYY" pickerFormat="MMM-YYYY" [(ngModel)]="fecha" ></ion-datetime>
      </ion-item>

      <ion-item>    
          <ion-label stacked>Palabras clave del objeto</ion-label> 
          <ion-input  #ntag type="text" placeholder="Agregue aqui una nueva palabra"></ion-input>
          <button ion-button (click)="addTag(ntag)" ng-enter="addTag(ntag)"  item-right>
          <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
        </button>
      </ion-item>

      <ion-item>
          <div class="tag-container"  *ngIf="tags.length > 0">
          <span class="tag" *ngFor="let tag of tags">
            {{ tag }}
            <ion-icon name="close" (click)="deleteTag(tag)"></ion-icon>
          </span>
          </div>
      </ion-item>    
  </ion-list> 


  <ion-list *ngSwitchCase="'consecutivo'" no-lines>
      <ion-item>
           <ion-label floating>Ingrese el consecutivo:</ion-label>
          <ion-input [(ngModel)]="codigoBusqueda" type="search" clearInput></ion-input>
      </ion-item>
  </ion-list> 

</div>

  <button ion-button block  color="secondary" (click)="buscar()" *ngIf="tipoBusqueda != 'qr'">
      <ion-icon ios="ios-search" md="md-search"></ion-icon> 
       Buscar 
  </button>
</ion-content>
