<ion-header>
  <ion-navbar>
  	 <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Resultados</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="consultar">
    <ion-list> 
     <!--<ion-list-header> En este punto </ion-list-header>-->
      <ion-list-header>
        <ion-row>
            <ion-col>Fecha </ion-col>
            <ion-col>Tags </ion-col>
            <ion-col>Ubicación</ion-col>
        </ion-row>
      </ion-list-header>
     <button ion-item *ngFor="let registro of registros"  (click)="itemTapped($event,registro)">
        <ion-row>
            <ion-col>
                {{registro.puntosRecoleccion.objetosPerdidos.fechaRegistro.dia}}
            </ion-col>

            <ion-col>
              {{registro.puntosRecoleccion.objetosPerdidos.sinCodigoQR.tags}}
            </ion-col>
          
            <ion-col>
              <div  *ngIf="registro.puntosRecoleccion.actual" item-right>
                <font color="green">En este punto</font> 
              </div>

              <div  *ngIf="!registro.puntosRecoleccion.actual" item-right>
                <font color="red">En otro punto</font> 
              </div>
            </ion-col>
      </ion-row>
     </button>

   </ion-list>

</ion-content>
