<!--
  Generated template for the Buscarobjetos page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  
  <ion-navbar>
    <ion-title>buscarobjetos</ion-title>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-item>
      <ion-label stacked>1.Palabras Clave</ion-label>
    </ion-item>

      <ion-item>     
          <ion-input  #ntag [(ngModel)]="tag" type="text" placeholder="Palabras que caracterizen el objeto"></ion-input>
          <button ion-button (click)="addTag(ntag)" item-right>
          <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
        </button>
      </ion-item>

  <ion-item>
    <div class="tag-container"  *ngIf="tags.length > 0">
      <span class="tag" *ngFor="let tag of tags">
        {{ tag }}
        <ion-icon name="close" (click)="deleteTag(tag)"></ion-icon>
      </span>
      </div>
  </ion-item>

   <ion-item>
        <ion-label>Mes de pérdida</ion-label>
        <ion-datetime  displayFormat="MMM/YYYY" pickerFormat="MMM-YYYY" [(ngModel)]="fecha" ></ion-datetime>
</ion-item>

<button ion-button block  color="secondary" >
      <ion-icon ios="ios-search" md="md-search"></ion-icon> 
       Buscar 
</button>

</ion-content>
