<ion-header>
  <ion-navbar>
  	 <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Resultados</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="consultar">
    <ion-list> 
     <button ion-item *ngFor="let registro of registros" (click)="itemTapped($event,registro)">
      {{registro.nombre}}
      <div  *ngIf="registro.nombre=='Nicolas Escobar'" item-right>
         <font color="green">{{registro.nombre}}</font> 
      </div>
      <div  *ngIf="registro.nombre!='Nicolas Escobar'" item-right>
         <font color="red">{{registro.nombre}}</font> 
      </div>
    </button>
    </ion-list>

</ion-content>
