<ion-header>
  <ion-navbar>
  	 <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Buscar objetos</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  
  <div padding>
        <ion-segment [(ngModel)]="tipoBusqueda">
          <ion-segment-button value="fecha">
            Fecha
          </ion-segment-button>
          <ion-segment-button value="codigo">
            Codigo
          </ion-segment-button>
        </ion-segment>
      </div>

<div *ngSwitch="tipoBusqueda">
  <form *ngSwitchWhen="'fecha'">
      <ion-item>
        <ion-label>Leer QR</ion-label>
        <ion-toggle [(ngModel)]="qrToggle" value="foo" checked="false"    
        (ionChange)="activarQR()"></ion-toggle>
      </ion-item>
      <br>
  
       <ion-item>
        <ion-label>Fecha de pérdida</ion-label>
        <ion-datetime  displayFormat="MMM/YYYY" pickerFormat="MMM-YYYY" [(ngModel)]="fecha" ></ion-datetime>
      </ion-item>

        <ion-item>
            <ion-input [(ngModel)]="codigoBusqueda" type="search" placeholder="Código de Busqueda" clearInput></ion-input>
        </ion-item>

    <ion-label stacked>Tags</ion-label>
        
      <ion-item>     
          <ion-input  #ntag type="text" placeholder="Escriba aquí la etiqueta"></ion-input>
          <button ion-button (click)="addTag(ntag)" ng-enter="addTag(ntag)"  item-right>
          <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
        </button>
      </ion-item>


      <ion-item>
          <div class="tag-container"  *ngIf="tags.length > 0">
          <span class="tag" *ngFor="let tag of tags">
            {{ tag }}
            <ion-icon name="close" (click)="deleteTag(tag)"></ion-icon>
          </span>
          </div>
      </ion-item>    
  </form> 


  <form *ngSwitchWhen="'codigo'">
      <ion-item>
        <ion-label>Leer QR</ion-label>
        <ion-toggle [(ngModel)]="qrToggle" value="foo" checked="false"    
        (ionChange)="activarQR()"></ion-toggle>
      </ion-item>
      <br>
      <ion-item>
          <ion-input [(ngModel)]="codigoBusqueda" type="search" placeholder="Código de Busqueda" clearInput></ion-input>
      </ion-item>
  </form> 
</div>

  <button ion-button block  color="secondary" (click)="buscar()">
      <ion-icon ios="ios-search" md="md-search"></ion-icon> 
       Buscar 
  </button>


</ion-content>
